@import "tailwindcss";

@theme {
  --color-background: #0e0e0e;
  --color-foreground: #ffffff;
  --color-on-background: #ffffff;
  --font-body: var(--font-space-grotesk);
}

body {
  background-color: var(--color-background);
  color: var(--color-foreground);
}